<!DOCTYPE html>
<html lang="en">
<div style="height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center;" id="preloader" > 
<img src="http://i.imgbox.com/s81kMi3n.gif" />
</div>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dan Labrie is an experienced, framework-agnostic software engineer from Seattle. Especially proficient in Javascript.">
    <meta name=viewport>
    <base href="/" />
    <title>Daniel Labrie - Developer</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-74239429-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="Main" ng-cloak style="background-color: rgb(33,33,33);">
<!-- NAV -->
    <navbar></navbar>
    <div style="margin: 0px; padding: 0px;" ng-hide='!hidden' id="main" class='uiview' ng-class='{animated: !unAnimated}' ui-view></div>
<!-- QUICK, HIDE EVERYTHING! -->
    <div ng-hide='hidden'>

<section id="top" class="pfblock-image screen-height" style="height: 1050px; background-position: 50% 5px; margin-left: 10vw; background: url(http://s16.postimg.org/3k1tfzl0l/black_and_white_nature_sailing_ship_ship.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<div class='container introduction'>
    <h1><strong>Hi, my name is Dan Labrie.</strong></h1>
    <h2 style="font-size: 20px;">A web developer from Seattle.</h2>
    <br></br>   
    <p>Check out my work!</p>
    <a ui-sref="about">
        <div >
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
</div>
</section>

<!-- ABOUT -->
<section id="about"> 
<div id="aboutborder"></div>
<img alt="Dan Labrie" src="http://imgur.com/o3gmtDw.png" id="mypic"/>
    <div>
        <p id="me_description">
            Hi! My name is Daniel. I'm a full stack software engineer, sailer, hiker, and father of a rocket.
            <br></br>
            I'm looking for interesting problems to solve in code!
            <br></br>
            Check out my portfolio, and don't forget to drop me a line! I love hearing from anyone.
        </p>
    </div>
</section>
<!--END ABOUT-->

<!-- PROJECTS -->
<section id="projects">
<div class="container" ng-controller="projectcontroller">
<div style='padding-top: 20px;'></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- INDICATORS -->
      <ol class="carousel-indicators" ng-hide='true'>
        <li id='li1' data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li id='li2' data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li id='li3' data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item" id="notoJumbo">
          <img ui-sref="noto" style="width: 100%; height: 492.472px;" class="first-slide" src="http://i.imgur.com/UXWAQ4O.png" alt='Noto'>
          <div class="container">
            <div class="carousel-caption">
              <h1>Noto</h1>
            </div>
          </div>
        </div>
        <div class="item" id="codeJumbo" style="background-color: white;">
          <img ui-sref="Code-E" style="width: 100%; height: 492.472px; padding-left: 150px; padding-right: 150px;" class="second-slide" src="http://i.imgur.com/NKJgL7c.jpg" alt="Code-E">
          <div class="container">
            <div class="carousel-caption">
              <h1>Code-E</h1>
            </div>
          </div>
        </div>
        <div class="item active" id="nowaitJumbo">
          <img ui-sref="nowait" style="width: 100%; height: 492.472px;" class="third-slide" src="http://i.imgur.com/kyRtHZr.jpg" alt="No-Wait">
          <div class="container">
            <div class="carousel-caption">
              <h1>No Wait</h1>
          </div>
        </div>
      </div>
    </div>
      <a class="left carousel-control" data-target="#myCarousel" role="button" ng-click='prev()'>
        <span style="margin-top: -200px" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" data-target="#myCarousel" role="button" ng-click="next()">
        <span style="margin-top: -200px" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


<div class="bs-example" style="margin-top: 30px">
    <div class="row">
       
        <div class="col-sm-6 col-md-4 project-item" ui-sref="noto" ng-mouseover="changejumbo('notoJumbo')">
            <div class="thumbnail"> <img alt='noto' src="http://i.imgur.com/UXWAQ4O.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3 style='margin-top: 10px; margin-bottom: 10px'>Noto</h3>
                    <p>
                        Noto is a Chrome extension that lets you leave and share persistent notes on any website - in real time!
                    </p>
                </div>
            </div>
        </div>


<div class="col-sm-6 col-md-4 project-item" ui-sref="Code-E" ng-mouseover="changejumbo('codeJumbo')">
    <div class="thumbnail"> <img alt="Code-E" src="http://imgur.com/2hnIjUk.jpg" style="height: 200px; width: 100%; display: block;">
        <div>
            <h3 style='margin-top: 10px; margin-bottom: 10px'>Code-E</h3>
            <p>Code-E is a chrome extension utilizing natural language recognition to help users navigate developer docs and the web.</p>
        </div>
    </div>
</div>

 <div class="col-sm-6 col-md-4 project-item" ng-mouseover="changejumbo('nowaitJumbo')">
    <div class="thumbnail"> <img  ui-sref="nowait" class="project-item" alt="no-wait" src="http://i.imgur.com/kyRtHZr.jpg" style="height: 200px; width: 100%; display: block;">
        <div>
            <h3 style='margin-top: 10px; margin-bottom: 10px'>No Wait</h3>
            <p>
            No wait is an npm module and <a href="http://tessel.io">Tessel</a> hardware hack enabling users to call an elevator from the command line. 
            </p>
        </div>
    </div>
</div>

</div>
</div>
</div>
</section>
<!--End Projects-->

<div id='work' class='container'>
<br>
<hr>
<br>
 <div class="col-sm-6 col-md-8 col-md-offset-2 project-item">
    <div class="thumbnail"> <img  ui-sref="static" class="project-item" alt="no-wait" src="http://i.imgur.com/gUH7rwh.jpg   " style="height: 200px; width: 100%; display: block;">
        <div>
            <h3 style='margin-top: 10px; margin-bottom: 10px'>Freelance Work:</h3>
            <p>
            Construction company site leveraging React and some server side rendering for better SEO, as a simple example of my freelance work.
            </p>
        </div>
    </div>
</div>
</div>

</div><!--End Hide Everything-->

</body>

    <footer id="footer">
        <!--Social links -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                            <h2>GET IN TOUCH</h2>
                            <hr>
                        </div>

                <div class="col-sm-12">

                    <ul class="social-links">
                        <li><a href="mailto:danrlabrie@gmail.com" target="_blank"><i style="color:#E8403D;" class="fa fa-envelope fa-lg"></i></a></li>
                        <li><a href="http://www.linkedin.com/in/danrlabrie" target="_blank"><i class="fa fa-linkedin fa-lg" style="color:#03659a;"></i></a></li>
                        <li><a href="http://www.github.com/danrlabrie" target="_blank"><i class="fa fa-github fa-lg" style="color:#BFBFAA;"></i></a></li>
                         <li><a href="http://www.twitter.com/labried4" target="_blank"><i style="color:#4099FF;" class="fa fa-twitter fa-lg"></i></a></li>
                    </ul>

                    <p id="created_by">
                        Created by Daniel Labrie
                    </p>

                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </footer>
    
</html>
