<div style='padding-top: 20px;'></div>
<section class="project_sub">
    <div class="container novertical">
        <div class="container description">
            <p >
                <h3 style="display: inline;">Description:</h3> an implementation of <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a> in vanilla javascript with an angular wrapper for customization.
            </p>
        </div>
        <div class="container description" style="margin-top: 15px; margin-bottom: 50px;">
            <div style="height: 5px;"></div>
            <table id='board'></table>
            <div id='control_panel'>
                <button id='step_btn' class='btn btn-success'>Step</button>
                <button id='play_btn' class='btn btn-primary'>{{ playval }}</button>
                <button id='reset_btn' class='btn btn-warning'>Reset Random</button>
                <button id='clear_btn' class='btn btn-info'>Clear</button>
            </div>
            <form style="color: white; margin: 0 auto 0 auto; position: relative; width: 300px;">
                <input class="customization" type='range' min='10' max='100' ng-model="golwidth">Width: {{golwidth}}</input>
                <input class="customization" type='range' min='10' max='100' ng-model="golheight">Height: {{golheight}}</input>
                <input class="customization" type='range' min='1' max='60' ng-model="playspeed">Playspeed: {{playspeed}} (Frames per Second)</input>
                <label style="margin-left: -5px; padding: 5px;">Select a preset:
                <select ng-model="preset" style="color: black;" value="select preset">
                	<option>Gosper Glider Gun</option>
                	<option>Flippers</option>
                	<option>10-cell Stable</option>
                	<option>Glider Collider</option>
                </select>
                </label>
            </form>
            <div style="height: 5px;"></div>
            <br></br>
        </div>
    </div>
</section>
