* {
  box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  width: 1200px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'about/main';
@import 'set/set';



.description {

  color: white;
  background-color: rgba(100,100,100,0.8);
  padding: 5px;
  border: 3px solid rgba(100,100,100,0.8);
  border-radius: 10px;

  a {
    color: white;
    text-decoration: underline;
    font-wieght: bold;
  }
  a:hover {
    color: red;
  }
}
.item {
  cursor: pointer;
}
.project-item {
  cursor: pointer;
  @media (max-device-width: 40.063em) {
    h3 {
      font-weight: 800;
    }
    p {
      font-size: 1.5em;
    }
  }
}

.introduction, #about, #projects, #top, #footer, #work, .project_sub, #blog, .interest_sections {

  @media (max-device-width: 40.063em) {
    margin-left: 0px !important;
    width: 100vw !important;
  }

}

.btn {
  @media (max-device-width: 40.063em) {
    font-size: 1.2em;
  }
}
.setControls {
  .btn {
    @media (max-device-width: 40.063em) {
    font-size: 0.75em;
    }
  }
}

pre {
  @media (max-device-width: 40.063em) {
    font-size: 1.25em;
  }
}
.introduction {
  @media (max-device-width: 40.063em) {  
    h1 {
      font-size: 3.75em;
    }
    h2 {
      font-size: 2.75em !important;
    }
    p {
      font-size: 2em !important;
    }
  }
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32vh;
  width: 90vw;
}

@keyframes slidedown {
  from {
    margin-top: 0px;
    opacity: 0.25;
  }

  to {
    margin-top: 20px;
    color: white;
    opacity: 1;
  }


}

.fa-angle-down {
  @media (max-device-width: 40.063em) {
    font-size: 3em !important;
  }
  color: white;
  text-decoration: strong;
  animation-duration: 2s;
  animation-name: slidedown;
  animation-iteration-count: infinite;

}

#about {
padding-bottom: 100px;
margin-left: 10vw;
width: 90vw;
background-color: rgb(90,90,95);

  #me_description {
    @media (max-device-width: 40.063em) {
      font-size: 2em;
      width: 100vw;
    }
    width: 90vw;
    padding-top: 30px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #mypic {
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 2147483647;
    margin-top: -75px;

  }

  #aboutborder {
    background-color: white;
    width: 100vw;
    height: 0.5vh
  }
}

#projects {
  padding-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-left: 10vw;
  display: block;
  width: 90vw;
}

.project_sub {
  @media (max-device-width: 40.063em){
    margin-top: 20vw;
    .description {
      h3{
        font-weight: 700;
        text-decoration: underline;
      }
      font-size: 1.5em; 
    }

  }
  width: 90vw;
  margin-left: 10vw;
  margin-top: 30px;
}

#work {
  padding-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw;
  display: block;
  width: 90vw;
  @media (max-device-width: 40.063em) {
    hr {
      margin-right: 9vw;
    }   
  }
}

#footer {
  height: 20vh;
  margin-left: 10vw;
  width: 90vw;
  background: rgb(20,20,20);
  text-align: center;
  padding: 20px 0px;
  color: white;
}


#footer li {
  @media (max-device-width: 40.063em) {
    margin: 15px;
  }
  font-size: 1.5em; 
  text-align: center;
  display: inline-block;
  list-style: none;
  padding-left: 8px;
  padding-right: 8px;
}

#footer li:hover {
  transform: rotate(20deg) scale(1.25);
  
}


#footer hr {
    height: 1px;
    border-top: 1px solid #d3d6d6 !important;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
    width: 25px;
}

#footer .social-links {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#footer #created_by {
  @media (max-device-width: 40.063em) {
    font-size: 1.75em;
  }
}
.codeview {
  position: fixed;
  bottom: 0px;
}

// code state

.interest_sections {
  @media (max-device-width: 40.063em) {
    margin-top: 10vh;
  }
}
.funlogo {
  display: inline-block;
  padding: 30px;
  margin: 45px;  
  border: 4px solid white; 
  border-radius: 100px; 
  position: relative;
  left: 5vw; 
  cursor: pointer;
  height: 200px; 
  width: 200px; 
}

@keyframes baloon {
  from {border-color: white;
       };
  to {border-color: tomato;
        transform: scale(1.1);
  };
}


.funlogo:hover {
  animation-name: baloon;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.messagetxt {
  position: absolute;  
  text-decoration: none;
  color: white; 
  font-weight: 900; 
  font-size: 2em; 
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//end code state

// gol

#board{
  margin: 0 auto;
  min-height: 400px;
  max-height: 500px;
}

.novertical {
  display: table;
  height: 800px;

}
#board td{
  border: 1px solid white;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #FEFDFA;
}

td.dead {
  background-color: rgba(100,100,100,0.8);
}

#control_panel {
  margin: 10px auto;
  text-align: center;
  color: white;
}

//end gol

// exoplanets

.overlay {
  fill: none;
  pointer-events: all;
}


@keyframes earthanimate {
  0% {  stroke-opacity: 1;
        stroke-width: 10px;
       };
  50% {
        stroke-opacity: 0.8;
  }
  80% {
        stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 150px;
  };
}

#Earth {
  stroke: dodgerblue;
  animation-name: earthanimate;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

.planet:hover {
 fill: cyan;
}
//

// Media Queries -------

@media (max-device-width: 980px) {
  .project-item {
    width: 60vw;
    margin-left: 10%
  }

  iframe,#not_iframe {
    width: 100%;
    height: 400px;
  }
}

.uiview {
  min-height: 80vh;

}


// ANIMATIONS

.animated {
  &.ng-enter {
        transition: .5s;
        opacity: 0;
    }
 
    &.ng-enter-active {
        opacity: 1;
    } 
}

.slide-in {
    animation: slide-in 0.6s ease-in-out;
    -webkit-animation: slide-in 0.6s ease-in-out;
}

.slide-in-reverse {
   animation: slide-in-reverse 0.6s ease-in-out;
  -webkit-animation: slide-in-reverse 0.6s ease-in-out;
}

.slide-out {
    animation: slide-out 0.6s ease-in-out;
    -webkit-animation: slide-out 0.6s ease-in-out;
}

.slide-out-reverse {
    animation: slide-out-reverse 0.6s ease-in-out;
    -webkit-animation: slide-out-reverse 0.6s ease-in-out;
}
    
@keyframes slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-in-reverse {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in-reverse {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
      0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes slide-out-reverse {
      0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out-reverse {
      0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}