<div style='padding-top: 20px;'></div>
<section class="project_sub">
    <div class="container novertical">
        <div class="container description">
            <p >
                <h3 style="display: inline;">Description:</h3> an implementation of <a target='_blank' href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm">Dijkstra's algorithm</a> / A* on html5 canvas, finding the least cost path between two nodes. Click and drag to create Goombas, these represent impassible terrain. drag the pipe around; drag mario around - mario will move along the least cost path to the pipe. You can double click goombas to delete them.
            </p>
        </div>
        <div class="container description" style="margin: 15px auto 50px auto; display: flex; align-items: center; flex-direction: column;">
            <canvas style="margin-left: auto; margin-right: auto;" ng-mousedown='makeSprite($event)' ng-click='makeSprite($event)' id='marioCanvas'></canvas>
            <br>
            <section>
                <input class='btn btn-info' type='button' ng-click='createWorld()' value='Clear Map'>
                <input class='btn btn-warning' type='button' ng-click='createWorld(true)' value='Random Goombas'>
                <input class='btn btn-success' type='button' ng-click='pathToPipe()' value='Go, Mario, Go!'>
            </section>
        </div>
    </div>
</section>